body {
  font-family: sans-serif;
  background: white;
}

.Todo-Item:hover .trash-icon {
  display: block;
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.alert-danger {
  background-color: #f8d7da;
  color: #721c24;
}

.alert-success {
  background-color: #d4edda;
  color: #155724;
}
